[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
aiohttp = "*"
asyncio = "*"
datetime = "*"
gspread = "*"
oauth2client = "*"
openpyxl = "*"
selenium = "*"
pyqt5 = "*"
sip = "*"

[dev-packages]

[requires]
python_version = "3.10"
